@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');


html, body {
    margin: 0;
    padding: 0;
    background-color: #191919;
    font-family: Open Sans;
}

.main a {
    color: white;
    text-decoration: none;
    font-size: 30px;
}



.main a:hover {
    color: #bbb;
}

.main {
    margin-left: 20%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-direction: column;
    height: calc(100vh - 150px);
}

.main p {
    font-size: 70px;
    color: #FFD122;
    font-weight: bold;
}

.navBar {
    background-color: #272828;
    color: white;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navBar .title a {
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 30px;
}

.navBar .title .text:hover {
    opacity: 0.75;
    cursor: pointer;
}

.navBar .title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.buttons a {
    text-decoration: none;
    margin-right: 20px;
    color: white;
}

.buttons a:hover {
    text-decoration: none;
    color: #bbb;
}

/* THIS IS MOBILE  */

@media only screen and (max-width: 500px) {
 
    .navBar .title a {
        font-size: 20px;
    }

    .main p {
        font-size: 30px;
    }
    .main a {
        font-size: 10px;
    }

}