@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

body {
    font-family: Open Sans;
    background-color: #131313;
}

.topnav {
    margin: 1% auto;

    background-color: #272828;
    width: 90vw;
    height: 7.166482910694597vh
}

.topnav a.title {
    margin: 1% auto;
    font-weight: bold;
    padding-left: 1vw;
    font-size: 26px;
    position: absolute;
    float: left;
    color: white;
    text-align: center;
    text-decoration: none;
    top: 14px;

}


.app-container {
    margin: 0 auto;
    background-color: #282828;
    height: 85vh;
    margin-top: 2vh;
    width: 90vw;

}

.app-container .regex-input {
    color: #FFD122;
    letter-spacing: 5px;
    font-size: 15px;
    padding: 20px 30px 20px 20px;

}


.app-container .regex-input .regexinput {
    background-color: #5A5A5A;
    color: white;
    width: 90%;
    height: 5vh;
    font-size: 30px;
    letter-spacing: 5px;
    padding-left: 50px;
    float: left;

}

.app-container .regex-input .regexinput input[type=text] {
    border: none;
    outline: none;
    margin: 0% auto;

    background-color: #5A5A5A;
    color: white;
    width: 70%;
    height: 95%;
    font-size: 30px;
    letter-spacing: 5px;
    padding-left: 50px;
    float: left;

}

.app-container .regex-input .regexinput input[type=image] {
    background-color: #787676;
    height: 3.4vh;
    padding: 10px 10px 10px 10px;

}

.app-container .regex-input input[type=image]:hover {
    background-color: #5A5A5A;
}


.app-container .testing-input {
    color: #FFD122;
    letter-spacing: 5px;
    font-size: 15px;
    padding: 20px 30px 20px 20px;

}

.app-container .testing-input textarea {
    border: none;
    outline: none;

    padding-top: 3vh;
    vertical-align: top;
    background-color: #5A5A5A;
    color: white;
    width: calc(50% - 10px);
    height: 50vh;
    font-size: 30px;
    letter-spacing: 5px;
    padding-left: 50px;
    line-height: 50px;
    box-sizing: border-box;
    display: inline-block;
}

.app-container .testing-input .output {
    padding-top: 3vh;
    vertical-align: top;
    background-color: #5A5A5A;
    color: white;
    width: 50%;
    height: 50vh;
    font-size: 30px;
    letter-spacing: 5px;
    padding-left: 50px;
    line-height: 50px;
    box-sizing: border-box;
    display: inline-block;
    float: right;
    overflow: scroll;
    overflow-x: hidden;
    /* Hide horizontal scrollbar */


}