@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
html, body {
    margin: 0;
    padding: 0;
    background-color: #191919;
    font-family: Open Sans;
}

.msg:hover {
    background-color: rgba(255, 111, 111, 0.7);
}

.msg {
    border-radius: 20px;
    padding: 10px;
    background-color: rgba(255, 111, 111, 0.5);
}

.invalid {
    visibility: hidden;
    display: flex;
    align-items: flex-start;
    text-align: left;
    margin-top: 50px;
    width: 70%;
}

.code {
    max-width: 10%;
    overflow: scroll;
}

.regex {
    max-width: 70%;
    overflow: scroll;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.textInput:focus {
    outline: none;
}

.textInput {
    font-weight: normal;
    padding: 5px;
    background-color: #272828;
    border: hidden;
    font-size: 20px;
    width: auto;
    color: white;
    overflow: hidden;
}

.input {
    padding-left: 5px;
    margin-top: 15px;
    background-color: #272828;
    padding: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
    font-size: 20px;
    width: 70%;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.backdrop {
    margin: 50px;
    width: 70%;
}

.backdrop, textarea, .highlights {
    height: calc(100vh - 450px);
}

.highlights, textarea {
    padding: 10px;
    font: 20px/28px 'Open Sans', sans-serif;
    letter-spacing: 1px;
    position: absolute;
    width: 70%;
    overflow: hidden;
}

.backdrop {
    background-color: #272828;
    overflow: auto;
    pointer-events: none;
    transition: transform 1s;
}

.highlights {
    white-space: pre-wrap;
    word-wrap: break-word;
    color: transparent;
    width: 70%;
}

textarea {
    display: block;
    margin: 0;
    border-radius: 0;
    color: white;
    background-color: transparent;
    overflow: hidden;
    resize: none;
}

mark {
    border-radius: 3px;
    color: transparent;
    background-color: grey;
}

textarea:focus {
    outline: none;
}

.main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.navBar {
    background-color: #272828;
    color: white;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navBar .title a {
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 30px;
}

.navBar .title .text:hover {
    opacity: 0.75;
    cursor: pointer;
}

.navBar .title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.buttons a {
    text-decoration: none;
    margin-right: 20px;
    color: white;
}

.buttons a:hover {
    text-decoration: none;
    color: #bbb;
}

@media only screen and (max-width: 500px) {
    .navBar .title a {
        font-size: 20px;
    }
    .backdrop, textarea, .highlights {
        height: calc(100vh - 250px);
    }
}